[core]
    excludesfile = ~/.gitignore

[user]
    name = Bilal Amarni
    email = bilal.amarni@gmail.com

[help]
    autocorrect = 1

[url "git@github.com:"]
    insteadOf = https://github.com/

[url "git@bitbucket.org:"]
    insteadOf = https://bitbucket.org/
